html
  head
    title Chỉnh sửa bài viết
    style.
        body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          margin: 0;
          padding: 0;
          background-image: url("https://wallpapers.com/images/hd/4k-white-abstract-waves-i308ljad82204626.jpg");
          background-size: cover;
          background-position: center;
        }

        .container {
          max-width: 600px;
          margin: 20 auto;
          background-color: #fff;
          padding: 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
          text-align: center;
          color: #333;
          margin-bottom: 20px;
        }

        label {
          display: block;
          margin-top: 10px;
          font-weight: bold;
        }

        input[type="number"],
        input[type="text"] {
          width: 100%;
          padding: 10px;
          margin-top: 5px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }

        button[type="submit"] {
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 10px 20px;
          margin-top: 20px;
          margin-right: 100px;
          cursor: pointer;
          border-radius: 3px;
        }

        button[type="submit"]:hover {
          background-color: #0056b3;
        }

        a.back-link {
          display: block;
          text-align: center;
          margin-top: 20px;
          text-decoration: none;
          color: #007bff;
        }
  body
    .container
        h1 Chỉnh sửa bài viết
        form(action=`/posts/${posts.id}/edit`, method="POST")
            label(for="title") Tiêu đề:
            input(type="text", name="title", value=posts.title)
            label(for="description") Mô tả:
            input(type="text", name="description", value=posts.description)
            label(for="url") URL:
            input(type="text", name="url", value=posts.url)
            label(for="likes") Số lượt thích:
            input(type="number", name="likes", value=posts.likes)
            label(for="post_by") Bài viết bởi:
            input(type="text", name="post_by", value=posts.post_by)
            button(type="submit") Cập nhật
        a(href="/") Quay lại danh sách bài viết
